/* All css */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}
/* Root */
:root {
    --size-img: 60%; 
    --size-text: 3.4rem;
    --size-p: 1.26rem;
    --size-bottom: 1.4rem;
    --paddings: 4rem;
    --lineHeight: 59.6px;
    --paddingInner: 1rem;
}


/* Steps */
.Steps {
    width : 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: var(--paddings);
    padding-bottom: var(--paddings);
}

/* steps Inner */
.StepInner {
    width: 100%;
    padding: var(--paddingInner);
    text-align: center;
}

/* steps Text */
.stepsText h1 {
    font-size: var(--size-text);
    text-transform: uppercase;
    line-height: var(--lineHeight);
    margin-bottom: var(--size-bottom);
}

.stepsText p {
    font-size: var(--size-p);
}


/* steps Img */
.stepsImg {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stepsImg img {
    width: var(--size-img);
}

/* Start Media 856 */
@media(max-width: 856px){
    .Steps {
        width: 96%;
        margin: 0 auto;
    }
    :root {
        --size-img: 90%;
        --size-text: 2.1rem;
        --size-p: .9rem;
        --size-bottom: .2rem;
        --padding: 1rem;
        --lineHeight: 26.6px;
        --paddingInner: .2rem;
    }
}

/* Start Media 450 */
@media(max-width: 598px){
    :root {
        --size-img: 100%;
        --size-text: 1rem;
        --size-p: .8rem;
        --paddings: 1rem;
    }
}