/* .model-container{
    gap: 20px;
    display: flex;
    justify-content: center;
} */

.modelBlok__0{
    /* gap:15px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modelBlok{
    /* gap: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

