* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

:root {
    --size-report-title-p: 1.5rem;
    --size-report-boxes-img: 3.2rem;
}

.ReportBox {
    width: 25%;
    padding: .6rem 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: solid 1px #ccc;
    transition: .3s ease;
}

.ReportBox:hover {
    background: #009eff;
}

.ReportBox:hover .ReportBoxTitle p {
    color: #fff;
}

.ReportBox img {
    height: var(--size-report-boxes-img);
    margin-right: 1.6rem;
    pointer-events: none;
}

.ReportBox .ReportBoxTitle { 
    display: flex;
    flex-flow: column;
}

.ReportBox .ReportBoxTitle p {
    font-size: var(--size-report-title-p);
    color: #9f9f9f;
    transition: .3s ease;
    pointer-events: none;
}

@media(max-width: 1100px){
    :root {
        --size-report-title-p: 1rem;
        --size-report-boxes-img: 2.6rem;
    }
}

@media(max-width: 860px){
    :root {
        --size-report-title-p: .6rem;
        --size-report-boxes-img: 2.2rem;
    }
}

@media(max-width: 660px){
    .ReportBox .ReportBoxTitle p {
        display: none;
    }
}