.segway{
    width: 100%;
    max-width: 963px;
    padding-top: 30px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    border: 5px solid #009EFF;
}
.segway__img{
    width: 278px;
    height: 201px;
    margin-left: 50px;
}
.segway__title{
    padding: 0;
    margin: 0;
    margin-left: 41px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 119.3%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #323941;
}
.segway__desc{
    max-width: 300px;
    padding: 0;
    margin: 0;
    margin-left: 41px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #323941;
}