* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

:root {
    --margin-size: 4rem;
}

.ReportInner {
    width: 100%;
    margin: var(--margin-size) 0;
}

.ReportBoxes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ReportBody {
    width: 100%;
    padding: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dfdfdf;
}

.ReportBodyTitl {
    padding-left: 1rem;
    max-width: 50rem;
}

.ReportBodyTitl h1 {
    text-transform: uppercase;
    font-size: 2.4rem;
    margin: .4rem 0;
}

.ReportBodyTitl p {
    font-size: 1.6rem;
    max-width: 96%;
}

.ReportBody img {
    height: 18rem;
}