* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

.CoruselSlides {
    width: 100%;
    height: 130px;
    background: #323941;
    user-select: none;
}

.SliderCorusel {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: grab;
}

.prev,
.next {
    position: absolute;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    height: 100%;
    background: transparent;
    width: 8rem;
    height: 8rem;
    transform: scale(.4, .5);
    cursor: pointer;
    z-index: 100;
}

.prev {
    left: -16px;
}

.next {
    right: -16px;
}

.prev span,
.next span {
    padding: 2rem;
    width: 2rem;
    height: 2rem;
    border: solid #009eff;
    background: transparent;
    transform: rotate(45deg);
    pointer-events: none;
}

.prev span {
    border-width: 0 0 7px 7px;
}

.next span {
    border-width: 7px 7px 0 0;
}


@media(max-width: 1024px){
    .prev, .next {
        top: 8%;
    }

    .prev {
        left: -32px;
    }

    .next {
        right: -32px;
    }
}

@media(max-width: 768px){
    .prev, .next {
        top: 10%;
    }
}