*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modelsContainer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
}

.modelsContainer > h1{
    font-size: 2.5rem;

}

.modelsContainer > h2{
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 50px;
    
}

.modelsBlok{
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modelsBlok__icon{
    box-sizing: content-box;
    padding: 10px;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 2rem;
}

.fourModels__data{
    display: flex;
    overflow-x: scroll ;
    padding: 65px;
    width: 150vh;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    gap: 50px;
    box-shadow: inset 0 0 5px grey;     
}
















.modelsSticky{
    background-color: #fff;
    position: sticky;
    left: 0;
}

