.PowerRicycle {
    width: 100%;
    padding: 4rem 0;
}

.PowerReciclesInner {
    width: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(57deg, #3A75F7 -54%, #12151e 25%)
}

.PowerText {
    width: 50%;

}

.PowerRecicleFoto {
    width: 50%;
}

.PowerRecicleFoto img {
    width: 100%;
}